*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body, html{
	background-color: #000000;
	color: #5e0346;
	width: 100%;
	height: 100%;
}

/* --------- PARALAJE CON CSS --------- */

.contenedor-principal{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 200px;
}

[class*="contenedor-paralaje"]{
	height: 100%;
	position: relative;
	transform-style: preserve-3d;
}

.capa {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-position: right;
	background-size: cover;
}

.fondo {
	background-image: url(/img/Fondo.png);
	transform: translateZ(-385px) scale(3);
	z-index: 0;
}

.capa_1{
	background-image: url(/img/Imagen1.png);
	transform: translateZ(-330px) scale(2.75);
	z-index: 1;
}

.capa_2{
	background-image: url(/img/Imagen2.png);
	transform: translateZ(-250px) scale(2.3);
	z-index: 2;
}

.capa_3{
	background-image: url(/img/Imagen3.png);
	transform: translateZ(-150px) scale(1.8);
	z-index: 3;
}
.capa_4{
	background-image: url(/img/Imagen4.png);
	transform: translateZ(-80px) scale(1.45);
	z-index: 4;
}
.capa_5{
	background-image: url(/img/Imagen5.png);
	transform: translateZ(-20px) scale(1.1);
	z-index: 5;
}

.capa_6{
	background-image: url(/img/Imagen6.png);
	z-index: 6;
}

.capa_text{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 2rem;
}

.capa_text h1{
	font-size: clamp( 3rem, 7vw, 6rem);
	text-align: center;
}

.contenedor-paralaje_2{
	background-color: #5e0346;
	overflow: hidden;
}